/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

body{
  
  background-image: url("./assets/Bannner.png");
  background-size: 100% auto;
}

html, body {
  margin:0;
}
