<div
  *ngIf="tournaments"
  style="display: flex; align-items: center; flex-direction: column;"
>
  <div *ngFor="let tournament of currentTournaments" class="itemWrapper">
    <mat-card class="tourItem">
      <h5 style="display: inline;">{{ tournament.name }}</h5>
      <mat-card-subtitle class="tourType">
        {{ tournament.forTeams ? "Zespołowy" : "Dla pojedynczych osób" }}
        <b>{{ tournament.forTeams ? "(" + tournament.teamName + ")" : "" }}</b>
        <b>{{ tournament.organizer ? " (organizator)" : "" }}</b>
      </mat-card-subtitle>
      <button
        (click)="redirectToTournament(tournament.id)"
        mat-flat-button
        class="btnToTournament"
      >
        <span class="material-icons">
          arrow_forward_ios
        </span>
      </button>
    </mat-card>
  </div>
</div>

<div *ngIf="pages.length > 1" style="padding: 30px 0px 0px 70px;">
  <ul class="ulw" *ngFor="let page of pages; index as i">
    <li class="liw" *ngIf="i == currentPage; else other">
      <button class="btnw activew" (click)="changePage(page)">
        {{ page }}
      </button>
    </li>
    <ng-template #other>
      <li>
        <button class="btnw" (click)="changePage(page)">{{ page }}</button>
      </li>
    </ng-template>
  </ul>
</div>
