.registerBtn {
  position: absolute;
  top: 10px;
  right: 20px;
}

.loginBtn {
  position: absolute;
  top: 10px;
  right: 160px;
}

.mainContainer{
  min-height: 100vh;
}

.accBtn{
  width: 100px;
}

.banner{
  padding-left: 30px;
  width: 450px;
}

.bannerContainer{
  max-width: 1200px;
  margin: 10px auto -10px auto;
  animation: 2s fadeIn ease-in;  
}

.logo{
  padding-top: 20px;
  width: 380px;
}

@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}