<div
  *ngIf="matches"
  style="display: flex; align-items: center; flex-direction: column;"
>
  <div *ngFor="let match of matches" class="itemWrapper">
    <div
      class="match"
      [ngStyle]="{
        'background-image': setBackgroundImg(match),
        'background-repeat': 'no-repeat',
        'background-size': '100% 100%'
      }"
    >
      <div class="leftParticipant">
        <div *ngIf="match.teamName">
          {{ match.teamName }}
        </div>
        <div *ngIf="!match.teamName">
          Ja
        </div>
      </div>
      <div class="score">
        <b>{{ match.score }}</b>
      </div>
      <div class="rightParticipant">
        <div *ngIf="match.teamName">
          {{ match.opponentTeamName }}
        </div>
        <div *ngIf="!match.teamName">
          {{ getOpponentName(match) }}
        </div>
      </div>
      <div class="dateContainer">
        {{ match.startTime | date: "dd/MM/yyyy" }}
        {{ match.startTime | date: "hh:mm" }}
      </div>
      <!-- <button
        (click)="redirectToTournament(tournament.id)"
        mat-flat-button
        class="btnToTournament"
      >
        <span class="material-icons">
          arrow_forward_ios
        </span>
      </button> -->
    </div>
  </div>
</div>
