<div
  *ngIf="matches"
  style="display: flex; align-items: center; flex-direction: column;"
>
  <div *ngFor="let match of matches" class="itemWrapper">
    <mat-card class="tourItem">

      <h5 *ngIf="match.teamName">{{ match.teamName }} vs {{ match.opponentTeamName ? match.opponentTeamName : 'przeciwny zespół' }} ({{ match.tournament.name }})</h5> 
      <h5 *ngIf="!match.teamName">Ja vs {{ getOpponentLogin(match) ? getOpponentLogin(match) : 'przeciwnik' }} ({{ match.tournament.name }})</h5> 
      <mat-card-subtitle class="tourType">
            <h5>{{  match.startTime | date:'dd/MM/yyyy hh:mm'  }} </h5> 
      </mat-card-subtitle>
      <!-- <button
        (click)="redirectToTournament(tournament.id)"
        mat-flat-button
        class="btnToTournament"
      >
        <span class="material-icons">
          arrow_forward_ios
        </span>
      </button> -->
    </mat-card>
  </div>
</div>