.center {
  margin: auto;
  width: 60%;
  text-align: center;
}

.tourButton {
  background-color: #ffd740;
  font-size: 19px;
  text-transform: uppercase;
}

/* ::ng-deep .mat-datepicker-content {
  position: fixed;
  top: 11em;
  right: 1%;
} */

/* ngx-mat-datetime-content {
  position: fixed;
  top: 11em;
  right: 19%;
} */

::ng-deep ngx-mat-datetime-content {
  display: flex !important;
  border-radius: 20px;
}

::ng-deep ngx-mat-timepicker {
  padding-top: 61%;
}

::ng-deep .ngx-mat-timepicker form .table .tbody tr td.spacer {
  padding-top: 15%;
}
