<mat-card class="center">
  <h3>KREATOR TURNIEJU</h3>

  <form
    class="regForm"
    #regForm="ngForm"
    [formGroup]="myForm"
    (ngSubmit)="submit()"
  >
    <mat-form-field style="width: 80%;">
      <mat-label>Nazwa turnieju</mat-label>
      <input
        matInput
        placeholder="Np. Klasowe rozgrywki siatkówki mężczyzn - 6A"
        required
        formControlName="name"
        autocomplete="off"
        maxlength="30"
      />
      <mat-error *ngIf="nameInput.errors?.minlength && nameInput.touched">
        Nazwa za krótka! min. 5 znaków
      </mat-error>
      <mat-error *ngIf="nameInput.errors?.required && nameInput.touched">
        Nazwa jest wymagana
      </mat-error>
    </mat-form-field>
    <br />

    <mat-form-field style="width: 80%;">
      <mat-label>Opis</mat-label>
      <textarea
        matInput
        placeholder="Np. Rozgrywki szkolne Sp46 w Krakowie..."
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="6"
        required
        formControlName="description"
        autocomplete="off"
        maxlength="255"
      ></textarea>
      <mat-error
        *ngIf="descriptionInput.errors?.minlength && descriptionInput.touched"
      >
        Opis za krótki! min. 5 znaków
      </mat-error>
      <mat-error
        *ngIf="descriptionInput.errors?.required && descriptionInput.touched"
      >
        Opis jest wymagany
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 80%;">
      <mat-label>Liczba zawodników</mat-label>
      <mat-select matSelect required formControlName="numberOfPlayers">
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="8">8</mat-option>
        <mat-option [value]="16">16</mat-option>
        <mat-option [value]="32">32</mat-option>
        <mat-option [value]="64">64</mat-option>
        <mat-option [value]="128">128</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          numberOfPlayersInput.errors?.required && numberOfPlayersInput.touched
        "
      >
        Liczba zawodników jest wymagana
      </mat-error>
    </mat-form-field>
    <br />

    <mat-form-field style="width: 80%;">
      <mat-label>Wybierz datę końca zapisów</mat-label>
      <input
        [min]="minDate"
        matInput
        [ngxMatDatetimePicker]="picker"
        required
        formControlName="enrollmentEnd"
        autocomplete="off"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #picker
        type="datetime"
      ></ngx-mat-datetime-picker>
      <mat-error
        *ngIf="
          enrollmentEndInput.errors?.required && enrollmentEndInput.touched
        "
      >
        Data jest wymagana
      </mat-error>
    </mat-form-field>
    <br />


    <mat-form-field>
      <mat-label>Wybierz typ turnieju</mat-label>
      <mat-select required formControlName="type">
        <mat-option value="0">Typ drabinkowy</mat-option>
        <mat-option value="1">Typ z drabinkami winner/looser</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-checkbox
      id="teams"
      formControlName="isForTeams"
      (click)="changeValueTeams()"
      >Rozgrywki drużynowe</mat-checkbox
    >
    <br /><br />
    <button mat-raised-button class="tourButton" [disabled]="myForm.invalid">
      Stwórz turniej
    </button>
  </form>
</mat-card>
