
<mat-card class="center">
  <h3>KREATOR TURNIEJU</h3>

  <form class="regForm" #regForm="ngForm" [formGroup]="myForm" (ngSubmit)="submit(form)">
      <mat-form-field style="width: 80%;">
        <mat-label>Nazwa turnieju</mat-label>
        <input
          matInput
          placeholder="Np. Klasowe rozgrywki siatkówki mężczyzn - 6A"
          required
          formControlName="name"
        />
        <mat-error *ngIf="nameInput.errors?.minlength && nameInput.touched">
          Nazwa za krótka! min. 5 znaków
        </mat-error>
        <mat-error *ngIf="nameInput.errors?.required && nameInput.touched">
          Nazwa jest wymagana
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field style="width: 80%;">
        <mat-label>Opis</mat-label>
        <textarea
          matInput
          placeholder="Np. Rozgrywki szkolne Sp46 w Krakowie..."
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="6"
          required
          formControlName="description"
        ></textarea>
        <mat-error *ngIf="descriptionInput.errors?.minlength && descriptionInput.touched">
          Opis za krótki! min. 5 znaków
        </mat-error>
        <mat-error *ngIf="descriptionInput.errors?.required && descriptionInput.touched">
          Opis jest wymagany
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 80%;">
        <mat-label>Liczba zawodników</mat-label>
        <input
          type="number"
          matInput
          placeholder="Np. Klasowe rozgrywki siatkówki mężczyzn - 6A"
          required
          formControlName="numberOfPlayers"
        />
        <mat-error *ngIf="numberOfPlayersInput.errors?.required && numberOfPlayersInput.touched">
          Liczba zawodników jest wymagana
        </mat-error>
      </mat-form-field>
      <br /> 


      <mat-form-field style="width: 80%;">
        <mat-label>Wybierz datę końca zapisów</mat-label>
        <input [min]="minDate" matInput [ngxMatDatetimePicker]="picker" required formControlName="enrollmentEnd"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker type="datetime"></ngx-mat-datetime-picker>
        <mat-error *ngIf="enrollmentEndInput.errors?.required && enrollmentEndInput.touched">
          Data jest wymagana
        </mat-error>
      </mat-form-field>
      <br />

      <mat-radio-group aria-label="Select an option" required formControlName="isPrivate">
        <mat-radio-button style="margin: 15px" value="true">Prywatny</mat-radio-button>
        <mat-radio-button style="margin: 15px" value="false">Publiczny</mat-radio-button>
      </mat-radio-group>
      <br />

      <mat-form-field>
        <mat-label>Wybierz typ turnieju</mat-label>
        <mat-select required formControlName="type"> 
          <mat-option value="0">Typ 1</mat-option>
          <mat-option value="1">Typ 2</mat-option>
          <mat-option value="2">Typ 3</mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <mat-checkbox id="random" formControlName="randomBracket" style="padding-right: 15px;"
          value="checked" (click)="changeValueRandom(checked)"
          >Losowowe spotkania</mat-checkbox>
      <mat-checkbox id="teams" formControlName="isForTeams" value="checked" (click)="changeValueTeams(checked)">Rozgrywki drużynowe</mat-checkbox>
      <br /><br />
      <button mat-raised-button class="button" [disabled]="myForm.invalid" style="font-size: x-large;">
        Stwórz turniej
      </button>
  </form>
</mat-card>
