.itemWrapper {
    width: 80%;
    margin: 5px;
    position: relative;
    color: white;
  }
  
  .tourItem {
    color: black;
    background-color: #E6E6FA	;
  }
  
  .btnToTournament {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 120px;
    outline: none;
    color: white;
  }
  
  .tourType {
    display: inline;
    margin-left: 10px;
    color: black;
  }
  