<div class="modalContainer">
  <div class="regModal">
    <span class="close" (click)="setHideDateMatch()"></span>
    <legend>Wybierz date spotkania</legend>
    <form
      class="regForm"
      #regForm="ngForm"
      [formGroup]="myForm"
      (ngSubmit)="submit()"
    >
      <div class="formBody">
        <mat-form-field
          style="width: 90%; margin-left: auto; margin-right: auto;"
        >
          <mat-label>Data spotkania</mat-label>
          <input
            [min]="minDate"
            matInput
            [ngxMatDatetimePicker]="picker"
            required
            formControlName="dateMatch"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #picker
            type="datetime"
          ></ngx-mat-datetime-picker>
          <mat-error
            *ngIf="dateMatchInput.errors?.required && dateMatchInput.touched"
          >
            Data spotkania jest wymagana
          </mat-error>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        [disabled]="myForm.invalid"
        color="primary"
        type="submit"
        style="margin-top: 10px; text-transform: uppercase;"
      >
        Zapisz
      </button>
    </form>
  </div>
</div>
