<div *ngIf="tournament" style="min-height: 100%;">
  <div class="tournamentStyle">
    <div *ngIf="!isUserEnrolled" class="enrollContainer">
      <div *ngIf="isForTeams" style="display: inline;">
        <mat-form-field class="teamInput">
          <input
            matInput
            [(ngModel)]="teamName"
            name="teamName"
            color="accent"
            required
            autocomplete="off"
          />
          <mat-placeholder class="placeholder">Nazwa drużyny</mat-placeholder>
        </mat-form-field>
      </div>
      <button
        (click)="openDialog()"
        class="enrollBtn"
        mat-raised-button
        color="primary"
      >
        Dołącz
      </button>
    </div>
    <h5>{{ tournament.name }}</h5>
    <p>{{ tournament.description }}</p>

    <h6>Uczestnicy:</h6>

    <div *ngFor="let participantT of tournament.participants">
      {{
        tournament.isForTeams
          ? participantT.teamName
          : participantT.participant.firstName +
            " " +
            participantT.participant.lastName
      }}
    </div>
    <br />
    <b>Mecze:</b>

    <app-tournament-matches
      style="width: 80%; min-height: 100px;"
    ></app-tournament-matches>
  </div>
</div>
