<div *ngIf="tournament" style="min-height: 100%;">
  <div class="tournamentStyle">
    <div class="enrollmentContainer">
      <div
        *ngIf="!isUserEnrolled && checkDate() && !checkIfFull()"
        class="enrollContainer"
      >
        <div *ngIf="isForTeams">
          <mat-form-field class="teamInput" style="margin-bottom: -1.25em;">
            <input
              matInput
              [(ngModel)]="teamName"
              name="teamName"
              color="accent"
              required
              autocomplete="off"
            />
            <mat-placeholder class="placeholder">Nazwa drużyny</mat-placeholder>
          </mat-form-field>
          <button
            (click)="openDialog()"
            class="enrollBtn"
            mat-raised-button
            color="primary"
            hidden-
          >
            Dołącz
          </button>
        </div>
        <div
          *ngIf="!isForTeams"
          style="width: 100%; display: flex; justify-content: flex-end;"
        >
          <button
            (click)="openDialog()"
            class="enrollBtn"
            mat-raised-button
            color="primary"
            hidden-
          >
            Dołącz
          </button>
        </div>
      </div>
      <div
        *ngIf="isUserEnrolled && checkDate()"
        style="display: flex; justify-content: flex-end;"
      >
        <button
          (click)="disenrollUser()"
          class="enrollBtn"
          mat-raised-button
          color="primary"
        >
          Wypisz
        </button>
      </div>
      <div *ngIf="checkDate() && !checkIfFull()">
        <p style="color: lawngreen;">
          koniec zapisów:
          {{ tournament.enrollmentEnd | date: "medium":"+0200" }}
        </p>
      </div>
      <div *ngIf="!checkDate()">
        <p style="color: orange;">
          Zapisy dobiegły końca dnia:
          {{ tournament.enrollmentEnd | date: "medium":"+0200" }}
        </p>
      </div>
      <div *ngIf="checkIfFull() && checkDate() && !isUserEnrolled">
        <p style="color: orange;">
          Brak wolnych miejsc
        </p>
      </div>
    </div>
    <h5>{{ tournament.name }}</h5>
    <p>{{ tournament.description }}</p>

    <div class="participants-section">
      <h6>Uczestnicy:</h6>

      <div *ngFor="let participantT of tournament.participants">
        {{
          tournament.isForTeams
            ? participantT.teamName
            : participantT.participant.firstName +
              " " +
              participantT.participant.lastName
        }}
      </div>
    </div>

    <button
      *ngIf="!tournament.active && !checkDate()"
      (click)="generateBracket()"
      mat-raised-button
      color="primary"
      style="margin: 20px 0 10px 0;"
    >
      Generuj drabinkę
    </button>
    <app-tournament-matches
      [forTeams]="isForTeams"
      [tournament]="tournament"
      style="width: 80%; min-height: 100px;"
    ></app-tournament-matches>
  </div>
</div>
