<div *ngIf="tournament" style="min-height: 100%;">
  <div class="tournamentStyle">
    <div class="enrollmentContainer">
      <div
        *ngIf="!isUserEnrolled && checkDate() && !checkIfFull()"
        class="enrollContainer"
      >
        <div *ngIf="isForTeams">
          <mat-form-field class="teamInput" style="margin-bottom: -1.25em;">
            <input
              matInput
              [(ngModel)]="teamName"
              name="teamName"
              color="accent"
              required
              autocomplete="off"
            />
            <mat-placeholder class="placeholder">Nazwa drużyny</mat-placeholder>
          </mat-form-field>
          <button
            (click)="openDialog()"
            class="enrollBtn"
            mat-raised-button
            color="primary"
            hidden-
          >
            Dołącz
          </button>
          <button
            *ngIf="checkIfOrganizer()"
            (click)="openInvitationDialog()"
            class="enrollBtn mx-2"
            mat-raised-button
            color="primary"
            style="background-color:#57bab7"
          >
            Zaproś do turnieju
          </button>
        </div>
        <div
          *ngIf="!isForTeams"
          style="width: 100%; display: flex; justify-content: flex-end;"
        >
          <button
            (click)="openDialog()"
            class="enrollBtn"
            mat-raised-button
            color="primary"
            hidden-
          >
            Dołącz
          </button>

          <button
            *ngIf="checkIfOrganizer()"
            (click)="openInvitationDialog()"
            class="enrollBtn mx-2"
            mat-raised-button
            color="primary"
            style="background-color:#57bab7"
          >
            Zaproś do turnieju
          </button>
        </div>
      </div>
      <div
        *ngIf="isUserEnrolled && checkDate()"
        style="display: flex; justify-content: flex-end;"
      >
        <button
          (click)="disenrollUser()"
          class="enrollBtn"
          mat-raised-button
          color="primary"
        >
          Wypisz
        </button>
        <button
        *ngIf="checkIfOrganizer()"
        (click)="openInvitationDialog()"
        class="enrollBtn mx-2"
        mat-raised-button
        color="primary"
        style="background-color:#57bab7"
      >
        Zaproś do turnieju
      </button>
      </div>
      <div *ngIf="checkDate() && !checkIfFull()">
        <p style="color: forestgreen	;">
          koniec zapisów:
          {{ tournament.enrollmentEnd | date: "medium":"+0200" }}
        </p>
      </div>
      <div *ngIf="!checkDate()">
        <p style="color: darkorange;">
          Zapisy dobiegły końca dnia:
          {{ tournament.enrollmentEnd | date: "medium":"+0200" }}
        </p>
      </div>
      <div *ngIf="checkIfFull() && checkDate() && !isUserEnrolled">
        <p style="color: darkorange;">
          Brak wolnych miejsc
        </p>
      </div>

      <div *ngIf="this.isOrganizer" class="regModal">
        <form class="regForm" #regForm="ngForm" [formGroup]="myForm" (ngSubmit)="submit()">
          <h5 style="color: black;">Dodawanie organizatora:</h5>
          <div class="formBody">
            <mat-form-field>
              <input matInput placeholder="login" formControlName="login" required autocomplete="off"/>
              <mat-error *ngIf="loginInput.errors?.required && loginInput.touched">
                Login jest wymagany
              </mat-error>
              <mat-error *ngIf="loginInput.errors?.minlength && loginInput.touched">
                Wybrany login jest za krótki
              </mat-error>
            </mat-form-field>
          </div>
            <button mat-raised-button [disabled]="myForm.invalid" color="primary" type="submit">
              Dodaj organizatora
            </button>
        </form>
      </div>





    </div>
    <div style="max-width: 80%;">
      <h3 class="tournamentInfo">{{ tournament.name }}</h3>
      <p class="tournamentInfo">{{ tournament.description }}</p>
    </div>
   

    <div class="participants-section">
        <h5>Uczestnicy ({{tournament.participants.length}}/{{tournament.numberOfPlayers}})</h5>
        <div *ngFor="let participantT of tournament.participants">
          {{
            tournament.isForTeams
              ? participantT.teamName
              : participantT.participant.firstName +
                " " +
                participantT.participant.lastName
          }}
        </div>   

      
    </div>
    <div
      *ngIf="!tournament.active && !checkDate() && isOrganizer"
      class="generatorContainer"
    >
      <p style="padding: 0; margin: 0;">
        Turniej jest gotowy, aby wystartować
      </p>
      <button
        (click)="generateBracket()"
        mat-raised-button
        color="primary"
        style="margin-left: 10px;"
      >
        Generuj drabinkę
      </button>
    </div>
    <div *ngIf="tournament.active">
      <app-tournament-matches
      [forTeams]="isForTeams"
      [tournament]="tournament"
      style="width: 80%; min-height: 100px;"
      ></app-tournament-matches>
    </div>
    
  </div>
</div>
