.tournamentStyle {
  padding-left: 10px;
  position: relative;
  color: white;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.enrollBtn {
  background-color: #ff5722;
  text-transform: uppercase;
}

.enrollmentContainer {
  position: absolute;
  right: 20px;
  top: 5px;
}

.placeholder {
  color: rgb(233, 227, 227);
}

.teamInput {
  margin-right: 10px;
}

.participants-section {
  margin-bottom: 30px;
}
