<ul class="gridWrapper">
  <div *ngFor="let tournament of currentTournaments">
    <div
      class="gridItem"
      [routerLink]="['/turnieje', tournament.id]"
      [ngStyle]="{
        'background-image': 'url(../../../assets/_61616161616.png)',
        'background-repeat': 'no-repeat',
        'background-size': '100% 100%'
      }"
    >
      <h4 class="tourHeader" style="text-align: center;">
        {{ tournament.name }}
      </h4>
      <div
        [ngStyle]="{
          'background-image': 'url(../../../assets/_8181818181818.png)',
          'background-repeat': 'no-repeat',
          'background-position': '50%',
          'background-size': 'cover'
        }"
        style="flex: 1;"
      >
        <p class="tourContent">
          {{ tournament.description }}
        </p>
      </div>
    </div>
  </div>
</ul>
<div *ngIf="pages.length>1"> 
  <ul  class="ulw" *ngFor = 'let page of pages;index as i'>
    <li class="liw" *ngIf='i==currentPage;else other'><button class='btnw activew' (click)='changePage(page)'>{{page}}</button></li>
    <ng-template #other>
        <li><button class='btnw' (click)='changePage(page)'>{{page}}</button></li>
    </ng-template>
  </ul>  
</div>
