.gridWrapper {
  padding: 30px 25px 10px 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 10px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  min-width: 310px;
  max-width: 500px;
  margin: auto;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

.tourHeader {
  margin-bottom: 0;
  padding: 2px 0 8px 0;
  -ms-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.41);
  -o-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.41);
  background-color: rgb(84, 80, 158);
}

.tourContent {
  color: white;
  flex: 1;
  padding: 10px 5px 5px 5px;
}
