<h2 style="text-align: center;" mat-dialog-title>Zmiana hasła</h2>
<mat-dialog-content>
  <form #regForm="ngForm" [formGroup]="myForm" (ngSubmit)="submit()">
    <!-- Value: {{myForm.value | json}} -->
    <div class="formBody">
      <mat-form-field>
        <input
          matInput
          placeholder="obecne hasło"
          [type]="hide ? 'password' : 'text'"
          formControlName="oldPassword"
          required
        />
        <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-hint align="end">min. 6 znaków</mat-hint>
        <mat-error
          *ngIf="oldPasswordInput.errors?.minlength && oldPasswordInput.touched"
        >
          Hasło za krótkie! min. 6 znaków
        </mat-error>
        <mat-error
          *ngIf="oldPasswordInput.errors?.required && oldPasswordInput.touched"
        >
          Hasło jest wymagane
        </mat-error>
        <mat-error
          *ngIf="oldPasswordInput.errors?.maxlength && oldPasswordInput.touched"
        >
          hasło za długie
        </mat-error>

        <mat-error
          *ngIf="oldPasswordInput.errors?.pattern && oldPasswordInput.touched"
        >
          użyto niedozwolonego znaku
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="nowe hasło"
          [type]="hideNew ? 'password' : 'text'"
          formControlName="newPassword"
          required
        />
        <mat-icon
          style="cursor: pointer;"
          matSuffix
          (click)="hideNew = !hideNew"
          >{{ hideNew ? "visibility_off" : "visibility" }}</mat-icon
        >
        <mat-hint align="end">min. 6 znaków</mat-hint>
        <mat-error
          *ngIf="newPasswordInput.errors?.minlength && newPasswordInput.touched"
        >
          Hasło za krótkie! min. 6 znaków
        </mat-error>
        <mat-error
          *ngIf="newPasswordInput.errors?.required && newPasswordInput.touched"
        >
          Hasło jest wymagane
        </mat-error>
        <mat-error
          *ngIf="newPasswordInput.errors?.maxlength && newPasswordInput.touched"
        >
          hasło za długie
        </mat-error>

        <mat-error
          *ngIf="newPasswordInput.errors?.pattern && newPasswordInput.touched"
        >
          użyto niedozwolonego znaku
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="powtórz hasło"
          [type]="hideConfirm ? 'password' : 'text'"
          formControlName="confirmPassword"
          [errorStateMatcher]="errorMatcher"
          required
        />
        <mat-icon
          style="cursor: pointer;"
          matSuffix
          (click)="hideConfirm = !hideConfirm"
          >{{ hideConfirm ? "visibility_off" : "visibility" }}</mat-icon
        >

        <mat-error *ngIf="myForm.hasError('passwordDoNotMatch')">
          Hasła nie są takie same
        </mat-error>
        <mat-error
          *ngIf="
            confirmPasswordInput.errors?.maxlength &&
            confirmPasswordInput.touched
          "
        >
          hasło za długie
        </mat-error>

        <mat-error
          *ngIf="
            confirmPasswordInput.errors?.pattern && confirmPasswordInput.touched
          "
        >
          użyto niedozwolonego znaku
        </mat-error>
      </mat-form-field>

      <mat-dialog-actions>
        <button
          mat-raised-button
          [disabled]="myForm.invalid"
          color="primary"
          type="submit"
          style="margin-top: 10px; text-transform: uppercase;"
        >
          Zapisz
        </button>
        <button
          mat-raised-button
          mat-dialog-close
          mat-dialog-close="false"
          style="
            margin-top: 10px;
            text-transform: uppercase;
            background-color: rgb(250, 220, 164);
          "
        >
          Anuluj
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</mat-dialog-content>
