.menuContainer {
  margin: 100px auto 50px auto;
  max-width: 1000px;
  padding-bottom: 10px;
  min-height: 600px;
  background-color: rgba(14, 13, 13, 0.596);
  overflow: hidden;
}

.navItem {
  display: block;
  padding: 5px 10px 5px 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  background-color: #e8e8e8;
  padding: 10px 10px;
}

.contentContainer {
  padding: 20px 0;
}
