.menuContainer {
  margin: 100px auto 50px auto;
  max-width: 1200px;
  padding-bottom: 10px;
  min-height: 600px;
  background-color: rgba(14, 13, 13, 0.596);
  overflow: hidden;
}

.buttonRoute {
  margin-left: 10px;
  width: 217px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  background-clip: border-box;
  border: 2px solid #c0b26b;
  color: white;
  outline: none;
}

.buttonRoute:hover,
:focus {
  border: 2px solid #f3e391;
}

.activeRoute {
  border: 2px solid #f3e391;
}

.buttonRouteText {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
    4px 0px 4px #000000;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  background-color: #2f66a9;
  padding: 10px 10px;
}

.contentContainer {
  padding: 20px 0;
}
