<div class="menuContainer">
  <ul class="nav">
    <li
      class="buttonRoute"
      *ngIf="isLoggedIn()"
      routerLink="/turnieje"
      routerLinkActive="activeRoute"
      [ngStyle]="{
        'background-image': 'url(../../../assets/1.png)',
        'background-position': '50%',
        'background-repeat': 'no-repeat'
      }"
    >
      <p class="buttonRouteText" style="padding-left: 53px;padding-right: 5px;">Przeglądaj Turnieje</p>
    </li>
    <li
      *ngIf="isLoggedIn()"
      class="buttonRoute"
      routerLinkActive="activeRoute"
      routerLink="/moje-turnieje"
      [ngStyle]="{
        'background-image': 'url(../../../assets/2.png)',
        'background-position': '50%',
        'background-repeat': 'no-repeat'
      }"
    >
      <p class="buttonRouteText" style="padding-left: 60px;padding-right: 5px;">Moje </p>
      <p class="buttonRouteText" style="padding-left: 60px;padding-right: 5px;">Turnieje</p>

    </li>

    <li
      *ngIf="isLoggedIn()"
      class="buttonRoute"
      routerLink="/moje-mecze"
      routerLinkActive="activeRoute"
      [ngStyle]="{
        'background-image': 'url(../../../assets/3.png)',
        'background-position': '50%',
        'background-repeat': 'no-repeat'
      }"
    >
      <p class="buttonRouteText" style="padding-left: 70px;padding-right: 5px;">
        Moje
      </p>
      <p class="buttonRouteText" style="padding-left: 70px;padding-right: 5px;">
        Mecze
      </p>
    </li>

    <li
      *ngIf="isLoggedIn()"
      class="buttonRoute"
      routerLink="/moje-zaproszenia"
      routerLinkActive="activeRoute"
      [ngStyle]="{
        'background-image': 'url(../../../assets/5.png)',
        'background-position': '50%',
        'background-repeat': 'no-repeat'
      }"
    >
      <p class="buttonRouteText" style="padding-left: 75px;padding-right: 5px;padding-top:10px">
          Zaproszenia
      </p>
    </li>

    <li
      *ngIf="isLoggedIn()"
      class="buttonRoute"
      routerLink="/stworz-turniej"
      routerLinkActive="activeRoute"
      style="width: 191px; border-radius: 30px; margin-left: auto;"
      [ngStyle]="{
        'background-image': 'url(../../../assets/4.png)',
        'background-position': '50%',
        'background-repeat': 'no-repeat'
      }"
    >
      <p class="buttonRouteText" style="padding-left: 63px;padding-right: 5px;">
        Stwórz 
      </p>
      <p class="buttonRouteText" style="padding-left: 63px;padding-right: 5px;">
        Turniej
      </p>
    </li>
  </ul>
  <div class="contentContainer">
    <ng-content></ng-content>
  </div>
</div>
