<div class="startContainer">
  <h1 style="text-align: center;">
    Witamy na stronie do organizowania turniejów
  </h1>
  <h4 style="text-align: center; position:relative;">
    Aby móc w pełni korzystać z możliwości strony, ZALOGUJ SIĘ lub ZAREJESTRUJ
  </h4><br>

  <h5 style="text-align: center; position:relative;">
    Po zalogowaniu będziesz miał możliwość korzystania z poniższych funkcji
  </h5><br>

  <mat-expansion-panel style="width: 60%; position: absolute; left: 50%;  top:45%; transform: translate(-50%);">
    <mat-expansion-panel-header style="text-align: center;">
      <mat-panel-title>
        ORGANIZOWANIE TURNIEJÓW
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Dzięki aplikacji będziesz mógł w łatwy i przystępny sposób stworzyć turniej oraz nim zarządzać, przydzielając mecze, terminy spotkań i wiele innych</p>
  </mat-expansion-panel>

  <mat-expansion-panel style="width: 60%; position: absolute; left: 50%; top:58%; transform: translate(-50%);">
    <mat-expansion-panel-header>
      <mat-panel-title style="text-align: center;">
        UCZESTNICTWO W TURNIEJACH
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Będziesz mógł dołączyć do wielu turniejów organizowanych przez użytkowników i zbodybawać nagrody, które oferują</p>
  </mat-expansion-panel>

  <mat-expansion-panel style="width: 60%; position: absolute; left: 50%; top:71%; transform: translate(-50%);">
    <mat-expansion-panel-header style="text-align: center;">
      <mat-panel-title>
        ZAPRASZANIE ZNAJOMYCH
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Możesz zapraszać znajomych do turniejów, żeby wspólnie toczyć rozgrywki z przeciwnikami </p>
  </mat-expansion-panel>

</div>

