.match {
  display: flex;
  flex-direction: row;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.623);
  justify-content: space-between;
  margin: 5px;
  padding: 5px 10px;
}

.leftParticipant {
  width: 35%;
}

.rightParticipant {
  text-align: right;
  width: 35%;
}

.score {
}

.editResult {
  display: flex;
  margin: auto auto auto 0;
}

.editResultImage:hover {
  cursor: pointer;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
::ng-deep .mat-form-field {
  width: 100px;
}
