.match {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.623);
  justify-content: space-between;
  margin: 5px;
  padding: 5px 10px;
}

.score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.editResult {
  display: flex;
  margin: auto auto auto 0;
}

.editResultImage:hover {
  cursor: pointer;
}
