<div *ngIf="this.roundMatches.length === this.maxRound">
  <h5 style="display: inline;">Mecze</h5>
  <app-next-round
    *ngIf="isNextRoundActive"
    (onHideNextRound)="changeHideNextRound($event)"
    [matches]="matchesForNextRound"
  ></app-next-round>
  <button
    *ngIf="
      this.roundMatches.length != 0 &&
      this.roundMatches[maxRound - 1].length > 1 &&
      isOrganizer
    "
    mat-flat-button
    color="primary"
    (click)="goToNextRound()"
    style="margin-left: 500px;"
  >
    Kolejny etap
    <span class="material-icons">
      arrow_forward_ios
    </span>
  </button>
  <app-result-form
    (onHideResult)="changeHideResult($event)"
    *ngIf="isResultActive"
    [match]="matchResult"
    [forTeams]="forTeams"
  ></app-result-form>
  <app-match-date-form
    (onHideDateMatch)="changeHideDateMatch($event)"
    *ngIf="isDateFormActive"
    [match]="matchResult"
    [forTeams]="forTeams"
  ></app-match-date-form>
  <mat-tab-group dynamicHeight>
    <mat-tab *ngFor="let round of rounds; let i = index" [label]="round">
      <div style="height: auto !important;">
        <div *ngFor="let match of roundMatches[i]">
          <div style="display: flex;">
            <div
              class="match"
              [ngStyle]="{
                'background-image': setBackgroundImg(match),
                'background-repeat': 'no-repeat',
                'background-size': '100% 100%'
              }"
            >
              <div class="leftParticipant">
                {{
                  forTeams
                    ? match.teamName
                    : match.matchParticipants[0].firstName
                }}
                {{ forTeams ? "" : match.matchParticipants[0].lastName }}
              </div>

              <div class="score">
                <b>{{ match.score }}</b>
              </div>
              <div class="rightParticipant">
                {{
                  forTeams
                    ? match.opponentTeamName
                    : match.matchParticipants.length !== 1
                    ? match.matchParticipants[1].firstName
                    : "?"
                }}
                {{
                  forTeams
                    ? ""
                    : match.matchParticipants.length !== 1
                    ? match.matchParticipants[1].lastName
                    : ""
                }}
              </div>
              <div class="dateContainer">
                {{ match.startTime | date: "dd/MM/yyyy" }}
                {{ match.startTime | date: "HH:mm" }}
              </div>
            </div>
            <div
              *ngIf="isOrganizer && isCorrectMatch(match)"
              class="editResult"
            >
              <img
                class="editResultImage"
                src="../../../assets/edit-solid.svg"
                style="height: 2em;"
                (click)="showResultForm(match)"
                alt="edytuj wyniki"
                title="edytuj wyniki"
              />
              <img
                class="editResultImage"
                src="../../../assets/clock-regular.svg"
                style="height: 2em; margin-left: 1em;"
                (click)="showMatchDateForm(match)"
                alt="edytuj date spotkania"
                title="edytuj date spotkania"
              />
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
